.Todo {
    border:1px dashed green;
    background: yellow;
}

.high {
    background:red;
    color:blue;
}

.med {
    background:yellow;
    color:green
}
.low {
    background:green;
    color:white
}

.complete {
    opacity: 0.5;
    text-decoration: line-through;
    font-style: italic;
}